#ninja-listing{
    margin:0;
    padding:0;
 }
 
 #ninja-listing li{
    list-style-type: none;
    margin: 10px 0;
 }
 
 #ninja-listing button {
    background: url(/assets/delete_image.png) no-repeat center bottom;
    background-size: 25px;
    float: left;
    margin: 5.5px 20px;
    height: 25px; 
    width: 25px;
    cursor: pointer;
 }